body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-group {
    display: flex;
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#registerBtn, #loginBtn {
    width: 100px;
    padding: 4px 0;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

#registerBtn {
    border-right: 1px solid #ccc;
}

#registerBtn:hover,
#loginBtn:hover {
    background-color: #d4edda;
}

#registerFrame, #loginFrame {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 36px 16px;
    display: none;
    margin: 10px;
}

#closeRegisterBtn, #closeLoginBtn {
    position: absolute;
    top: 6px;
    right: 6px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #ff0000;
}